.Sign-In-Form {
    background: url(Assets/1.png)repeat #00e7ff 0px 0px;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 2em 0 0;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 80;
}

.SignIn-Container {
    width: 75%;
    padding: 2em;
}

.SignIn-Box {
    background: #12494f;
    box-shadow: 9px 9px 10px 1px rgba(12, 46, 49, 0.76);
    padding: 3em;
    padding-top: 1em;
}


