body {
    font-family: 'Athiti', sans-serif;
    background: url(Assets/1.png)repeat #00e7ff 0px 0px;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 2em 0 0;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 200;
}

h2 {
    font-size: 2.5em;
    color: #e89406;
    text-align: center;
    margin: 0.2 0 0.7em;
    font-weight: 25;
}

.SignIn-Container {
    width: 75%;
    padding: 2em;
}

.SignIn-Box {
    background: #12494f;
    box-shadow: 9px 9px 10px 1px rgba(12, 46, 49, 0.76);
    padding: 3em;
    padding-top: 1em;
}

.signin-form {
    padding-top: 2em;
    width: 30%;
    height: 590px;
    float: none;
    margin: 0 auto;
}

.signin-form label {
    font-size: 1.2em;
    color: #fff;
    margin: 1em 0 .5em;
    padding: 0;
}

.email-input, .password-input {
    outline: none;
    font-size: 2em;
    color: #e8e8e8;
    padding: .8em 1em;
    margin: auto;
    border: none;
    -webkit-appearance: none;
    display: block;
    background: #256a71;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
    border-radius: 3px; 
    font-family: 'Athiti', sans-serif;
    margin-top: 4px;
    margin-bottom: 4px;
}

.signin-btn {
    font-size: 1.4em;
    color: #fff;
    background: #e89406;
    border: 3px solid #e89406;
    outline: none;
    cursor: pointer;
    padding: .3em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.alt-signin {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    margin-top: -10px;
    padding: 0;
}

.oAuth-btns {
    display: flex;
    justify-content: center;
}

.oAuth-btn {
    margin-right: 5px;
    width: 45%;
}

.signup-link {
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}

.link {
    color: #db7b00;
}

@media(max-width:1440px){
    .signin-form {
        width: 33%;
        height: 605px; 
    }
}

@media(max-width:1366px){
    .signin-form {
        width: 36%;
        height: 605px;
    }
}

@media(max-width:1080px){
    .signin-form {
        width: 44%; 
    }
}

@media(max-width:1024px){
    .signin-form {
        width: 47%;
    }
}

@media(max-width:800px){
    h1 {
        font-size: 2.5em; 
    }
    .signin-form {
        width: 60%;
        margin: 1em auto;
    }
}

@media(max-width:736px){
    .signin-form {
        width: 67%; 
        height: 570px;
    }
}

@media(max-width:667px){
    .signin-form {
        width: 71%;
        height: 560px;
    }
}

@media(max-width:640px){
    .signin-form {
        width: 72%; 
    }
}

@media(max-width:600px){
    .signin-form {
        width: 80%;
    }  
}

@media(max-width:568px){  
    .signin-form {
        width: 84%;
        height: 540px;
    }
}

@media(max-width:480px){ 
    .signin-form {
        width: 90%; 
        height: 470px;
    }

    .signin-form Label {
        font-size: 0.9em; 
    }
}
